body {
  background-color: #f8f9fa !important;
}
.navbar {
  margin-bottom: 20px;
}
.table-container {
  margin: 20px auto;
  max-width: 90%;
}
.table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
}
.table tbody tr {
  cursor: pointer;
}
.btn-cadastrar {
  margin-bottom: 20px;
}